$interestPrimary: #97c52c;


@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

@font-face {
  font-family: "splashFont";
  src: url("../media/HVD_Comic_Serif_Pro-webfont.woff") format("woff");
}

* {
  font-family: 'Raleway', sans-serif;
}

footer {

  height: 50px;
  bottom: 0;
  width: 100%;
}

body {
  padding-top: 62px;
}


.modal {
  top: 10;
}

.btn:focus{
  outline: none;
}

#myModal {
  vertical-align: middle;
}

md-autocomplete {
  display: inline-block;
  width: calc(100% - 108px);
  min-width: unset;
}

div.jumbotron {
  height: 80%;
  background-color: $interestPrimary;
  margin: 0;
  padding-top: 10%;
}


svg#bigTriangleColor {
  pointer-events: none;
}

#bigTriangleColor path {
  fill: $interestPrimary;
  stroke: $interestPrimary;
  stroke-width: 2;
}

.splash {
  height: 100vh;
  color: white;
  h1 {
    font-size: 7rem;
    margin-left: 0px;
    font-family: "splashFont";
  }
}

.closeModal {
  background-color: $interestPrimary;
}

.well {
  background-color: $interestPrimary;
  font-size: 5rem;
  color: white:

.scrolly {
  height: 400px;
  overflow-x: scroll;
}

.dvds {
min-height: 415px;
}


