$interestPrimary: #97c52c;

footer {

  height: 50px;
  bottom: 0;
  width: 100%;
}

body {
  padding-top: 62px;
}

md-autocomplete {
  display: inline-block;
  width: calc(100% - 108px);
  min-width: unset;
}

div.jumbotron {
  background-color: $interestPrimary;
  margin: 0;
}

svg#bigTriangleColor {
  pointer-events: none;
}

#bigTriangleColor path {
  fill: $interestPrimary;
  stroke: $interestPrimary;
  stroke-width: 2;
}

